@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    font-family: "Georgia";
    box-sizing: border-box;
}
body{
    background: #01996D;
}
.wrapper {
    width: 500px;
    padding: 2rem 0 1rem 0;
    margin: 50px auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    
}